{% if form[submitField] is defined %}
    {# TODO: Pb responsive #}
    <div class="flex justify-between items-center space-x-2">
        <div class="flex justify-between items-center space-x-2">
            {{ form_widget(form[submitField]) }}

            {{ component('button', {
                type: 'reset',
                label: 'Réinitialiser',
                color: themeColor,
                mode: 'ghost'
            }) }}
        </div>

        {% if deleteButtonLink is not null %}
            {% if deleteSwalTitle is not null %}
                {{ component('button_link_sweetalert', {
                    swalTitle: deleteSwalTitle,
                    swalText: deleteSwalText,
                    swalColor: deleteSwalColor,
                    link: deleteButtonLink,
                    label: 'Supprimer ?',
                    color: 'red'
                }) }}
            {% else %}
                {{ component('button_link', {
                    link: deleteButtonLink,
                    label: 'Supprimer ?',
                    color: 'red'
                }) }}
            {% endif %}
        {% endif %}
    </div>
{% endif %}