<div class="max-w-sm w-full min-h-[200px] flex flex-col justify-center mx-auto px-6 py-4">
    {% if title is not null %}
        <div class="mt-5 font-semibold text-gray-800">
            {{ title }}
        </div>
    {% endif %}

    {% if description is not null %}
        <p class="mt-2 text-sm text-gray-600">
            {{ description }}
        </p>
    {% endif %}

    {% if buttonLink is not null %}
        <div class="mt-5 grid sm:flex gap-2">
            {{ component('button_link', {
                link: buttonLink,
                label: buttonLabel,
                color: themeColor
            }) }}
        </div>
    {% endif %}
</div>
{# TODO: export class #}