<div class="max-w-sm w-full flex flex-col justify-center mx-auto space-y-5 p-8">
    <div class="space-y-2">
        {% if title is not null %}
            <div class="font-semibold text-gray-800 text-center">
                {{ title }}
            </div>
        {% endif %}

        {% if description is not null %}
            <p class="text-sm text-gray-600 text-center">
                {{ description }}
            </p>
        {% endif %}
    </div>

    <div class="flex justify-center mt-5">
        {% if button is not null %}
            {{ button|raw }}
        {% endif %}
    </div>
</div>