geo-complete ul {
    padding: 0 1rem;
    border-radius: 0 0px 8px 8px;
    display: flex;
    margin-top: -4px;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 200px;
    border: none;
    border-width: 0px 1px 1px 1px !important;
}

geo-complete ul:has(li) {
    border: 1px solid var(--color-gray-200);
}

geo-complete ul li {
    padding: 12px 0px;
    border: 1px solid var(--color-gray-200);
    border-width: 0 0 1px 0;
}

geo-complete ul li:first-child {
    margin-top: 4px;
}

geo-complete ul li:last-child {
    border-width: 0;
}

geo-complete ul li:hover {
    cursor: pointer;
}
