@import "tom-select/dist/css/tom-select.css";

tom-select {
    @apply block h-full min-w-[168px] w-full xl:w-auto;
}
tom-select .ts-wrapper {
    @apply h-full;
}
tom-select .ts-wrapper .ts-control {
    @apply flex items-center py-2 px-3 w-full border border-gray-200 text-sm rounded-lg ring-0 outline-0 focus:border-gray-400 focus:ring-0 min-h-[38px] h-full;
}
tom-select .ts-wrapper .ts-control .items-count {
    @apply px-[6px] py-[2px] text-gray-800 bg-gray-200 rounded-sm;
}
tom-select .ts-wrapper.multi.has-items .ts-control {
    @apply !pr-2;
}
tom-select .ts-wrapper.multi .ts-control {
    @apply flex gap-[3px];
}
tom-select .ts-wrapper.multi .ts-control > div {
    @apply text-appolo-700 bg-appolo-50 rounded-sm m-0;
}
tom-select .ts-wrapper.single.input-active .ts-control, tom-select .ts-wrapper.single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%2020%2020'%3e%3cpath%20stroke='%236b7280'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='1.5'%20d='M6%208l4%204%204-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    cursor: inherit;
}

.ts-dropdown {
    @apply rounded-md border border-solid border-t border-gray-300 text-sm;
}
.ts-dropdown .optgroup-header {
    @apply text-sm text-gray-500 border-b border-gray-300 bg-gray-50;
}
.ts-dropdown [data-selectable].option {
    @apply flex items-center;
}
.ts-dropdown .active, .ts-dropdown .create:hover, .ts-dropdown .option:hover {
    @apply text-appolo-700 bg-appolo-50;
}
.ts-dropdown input[type=checkbox] {
    @apply text-appolo-500;
}
.ts-dropdown .dropdown-input-wrap input {
    @apply !rounded-none !border-0 !border-b;
}
